

   body{
       padding: 0;
       margin: 0;
   }
  /*   ==== Navbar CSS  =====  */
  nav{
   display: flex;
   justify-content: space-between;
   padding: 0px 9px;
   align-items: center;
  }
  .left_sec,.mid_sec,.right_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .logo{
   width: 120px;
   height: 60px;
  }
  .mid_sec label{
   border-radius: 8px;
  }
  #title_input{
   height: 30px;
  }
  #search_btn{
   margin-left: -6px;
   height: 36px;
   width: 50px;
  }
  .right_sec img{
   width: 30px;
   height: 30px;
  }
  .right_sec p{
   width: 40px;
   height: 40px;
   background-color: green;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
  }
 hr{
   margin-top: -7px;
 }


/*============= Video container CSS ============= */

  #title_input{
    width: 400px;
  }

   h2{
       text-align: center;
   }
   .container{
       /* display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column; */
   }
   .contents{
       margin: 30px;
       display: grid;
       grid-template-columns: repeat(4,1fr);
       gap: 30px;
   }  
   .video_box{
       display: flex;
       /* justify-content: center; */
       /* align-items: center; */
       flex-direction: column;
   }
   .video_box p:nth-child(3){
       margin-top: -18px;
       /* background-color: yellow; */
   }
