.center{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
}
nav img{
    height: 60px;
    width: 100px;
    margin: auto;
}
.upper_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
main{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
}
form label{
    margin: 9px 0px;
}
label input{
    width: 300px;
   display: flex;
}

/*=========== Products Page CSS ======== */
#counter{
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    position: relative;
    left: 5%;
}
.products_cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.product img {
    height: 260px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}