
      /*======= Navbar CSS ======= */
    
      nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: brown; */
      }

      .mid ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      nav ul li{
        list-style: none;
        margin: 0px 14px;
        cursor: pointer;
      }
      
      nav ul li a{
        text-decoration: wavy;
        font-style: none;
        font-size: 25px;
      }
      nav ul li a:hover{
        padding: 9px;
        border-radius: 9px;
          background-color: brown;
          color: white;
      }
      .right button{
        background-color: darkorange;
        color: white;
        font-weight: bold;
        padding: 9px 14px;
        border-radius: 9px;
        margin-left: 9px;
        cursor: pointer;
      }
      .right button:hover{
        background-color: brown;
      }
 
      hr{
        margin-top: 0;
      }
     /*======= Index page- CSS ======= */

     #user_container{
      width: 100%;
      position: absolute;
      background-color:yellow;
     }
     #usedetails{
      position:absolute;
      top: 0px;
      right: 20px;
      /* height: 300px; */
      /* width: 500px; */
      background-color: blanchedalmond;
      border: 2px solid black;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
     }
     
     .profile {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

     /*======= search by name page- CSS ======= */
        /*== Input Section CSS ==*/
     .input_section {
      margin-top: 40px;
        gap: 20px;   
       display: flex;
        justify-content: center;    
     }
     input[type="text"]{
      width: 30%;
      height: 35px;
      border-radius: 9px;
     }
     #submit{
       background-color: brown;
       color: white;  
       border-radius: 9px;
     }


     /*== Products CSS ==*/
     #container{
      margin-top: 40px;
      display: flex;
      justify-content: center;
     }
     #contents_search{

     }
     #contents{
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
     }   
      
     .box img{
         width: 300px;
         height: 300px;
         border-radius: 9px;
     }
